<!doctype html>
<html lang="fr">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="style/style.css" />
        <title>&Eacute;lection M1IF03</title>
    </head>
    <body>
    <script type="text/javascript" src="js/fetch.js"></script>
    <script type="text/javascript" src="js/util.js"></script>
    <script type="text/javascript" src="js/app.js" defer></script>
    <header>
        <h1>&Eacute;lection M1IF03</h1>
    </header>
    <div id="errMsg"></div>
    <main>
        <aside>
            <div class="toggleTrigger" id="hamburger">
                <div class="barre" id="painDuHaut"></div>
                <div class="barre" id="steak"> menu </div>
                <div class="barre" id="painDuBas"></div>
            </div>
            <ul class="nav" id="nav" style="display: none;">
                <li><a href='#index'        class="current">        Accueil</a></li>
                <li class="needUnconnect"><a href='#connect'      class="needUnconnect">  Connexion</a></li>
                <li class="needConnect"><a href='#monCompte'    class="needConnect">    Mon compte</a></li>
                <li><a href='#candidats'>                           Candidats</a></li>
                <li class="needConnect"><a href='#vote'         class="needConnect">    Voter</a></li>
                <li class="needConnect"><a href='#ballot'       class="needConnect">    Vérifier mon vote</a></li>
                <li class="needConnect"><a href='#deco'         class="needConnect">    Déconnexion</a></li>
            </ul>
        </aside>
            <script id="templateForResultats" type="x-tmpl-mustache" defer>
                <h2>Bienvenue sur l'application Web de la grande élection de 2022 !</h2>
                <p>Résultats courants de l'élection :</p>
                <ul>       
                    {{#array_of_strings}}<li>{{ nomCandidat }} : {{votes}}</li>{{/array_of_strings}}
                </ul>
            </script>

        <section id='index' class='active' onload="test()">
                
            <script type="text/javascript" defer>
                getResultats().then(data=>completeTemplate('templateForResultats','index',{array_of_strings : data}));
            </script>
        </section>

        <section id='connect' class='inactive'>
            <h2>Connectez-vous pour pouvoir voter</h2>
            <form method="post" action="Connexion" id="connectForm">
                <p>
                    <label for="login">Entrez votre login :</label>
                    <input type="text" name="login" id="login" autofocus>
                </p>
                <p>
                    <label for="nom">Entrez votre nom :</label>
                    <input type="text" name="nom" id="nom">
                </p>
                <p>
                    <label for="admin">Êtes-vous administrateur ?</label>
                    <input type="checkbox" name="admin" id="admin">
                </p>
                <p>
                    <input type="submit" name="action" value="Connexion">
                </p>
            </form>
        </section>
            <script id="templateForMonCompte" type="x-tmpl-mustache" defer>
                <h2>Mon compte</h2>
                <ul id='compteList'>
                    <li>Login : <span id="login">{{login}}</span></li>
                    <li>Nom : <span id="editable">{{nom}}</span></li>
                    <li>Admin : <span id="admin">{{admin}}</span></li>
                </ul>
                <form method="post" action="TODO">
                    <p>Modifier mon nom :
                        <input type="text" name="nom">
                        <input type="submit" value="Modifier">
                    </p>
                </form>  
                <p><a href='#deco'>Déconnexion</a></p> 
            </script>
        <section id='monCompte' class='inactive'>
            
        </section>
        <section id='deco' class='inactive'>
            <h2>Déconnexion</h2>
            <form method="post" action="Deco" id="decoForm">
                <p>Cliquez ici pour vous déconnecter :
                    <input type="submit" value="Deconnexion">
                </p>
            </form>
            <script type="text/javascript" defer>
                const decoForm = document.getElementById('decoForm');
                decoForm.onsubmit = (ev) => 
                {
                    ev.preventDefault();
                    disconnect().then(()=>verifyConnect());
                }
            </script>
            <p><a href='#index'>Retour à la page d'accueil</a></p>
        </section>

            <script id="templateForCandidats" type="x-tmpl-mustache" defer>
                <h2>Voici la liste des différents candidats</h2>
                <ul>
                    {{#array_of_strings}}
                        <li><a href="#candidat/{{.}}">{{.}}</a></li>
                    {{/array_of_strings}}
                </ul>      
            </script>
        <section id='candidats' class='inactive'>
            <script type="text/javascript" defer>
                getNomsCandidats().then(data=>completeTemplate('templateForCandidats','candidats',{array_of_strings : data}));
                const connForm = document.getElementById('connectForm');
                connForm.onsubmit = (ev) =>
                {
                    ev.preventDefault();
                    const formData = new FormData(connForm);
                    const tab = [];
                    for(const pair of formData.entries()){
                        tab.push(pair);
                    }
                    console.log(tab);
                    connect(tab[0][1],tab[1][1],(tab[2]?true:false))
                    .then(d=>verifyConnect(tab[2]))
                    .catch(e => console.log(e));
                }
            </script>   
        </section>
            <script id="templateForCandidat" type="x-tmpl-mustache" defer>
                <h2>Informations sur un candidat</h2>
                <p>Nom complet : {{prenom}} {{nom}}</p> 
                <p><a href="#deco">Déconnexion</a></p>  
            </script>
        <section id='candidat' class='inactive'>

        </section>

            <script id="templateForVote" type="x-tmpl-mustache" defer>
                <h2>Voter !</h2>
                <form method="post" action="voter" id="voteForm">
                    <p>
                        <label for="candidat-select">Sélectionnez un candidat :</label>
                        <select name="candidat" id="candidat-select">
                            {{#array_of_strings}}
                                <option value="{{.}}">{{.}}</option>
                            {{/array_of_strings}}
                        </select>
                    </p>
                    <p>
                        <input type="submit" name="action" value="Envoyer votre vote">
                    </p>
                </form> 
                <p><a href="#deco">Déconnexion</a></p>
            </script>
        <section id='vote' class='inactive'>
            <script type="text/javascript" defer>
                getNomsCandidats()
                .then(data=>completeTemplate('templateForVote','vote',{array_of_strings : data}))
                .then(()=>{
                    const voteForm = document.getElementById('voteForm');
                    voteForm.onsubmit = (ev) =>
                    {
                        ev.preventDefault();
                        const formData = new FormData(voteForm);
                        const tab = [];
                        for(const pair of formData.entries()){
                            tab.push(pair);
                        }
                        console.log(tab);
                        vote(tab[0][1])
                        .then(d => verifyVote())
                        .catch(e => console.log(e));
                    }
                });
            </script>
        </section>
        <script id="templateForBallot" type="x-tmpl-mustache" defer>
                <h2>Ma preuve de vote</h2>
                {{#hasVoted}}
                <p>Votre vote a bien été enrgistré.</p>
                <form method="post" action="delVote" id="suppForm">
                    <p><input type="submit" name="action" value="Supprimer votre vote"></p>
                </form> 
                {{/hasVoted}}
                {{^hasVoted}}
                    Vous n'avez pas encore voté
                {{/hasVoted}}
                <p><a href='#deco'>Déconnexion</a></p>
        </script>
        <section id='ballot' class='inactive'>
        </section>
    </main>
    <footer>
        <img class="logo" src="https://upload.wikimedia.org/wikipedia/fr/thumb/2/28/Universit%C3%A9_Lyon_1_%28logo%29.svg/1280px-Universit%C3%A9_Lyon_1_%28logo%29.svg.png"/>
        <p>
            Wesley Cortinovis<br/>
            Jonathan Bressat
        </p>
    </footer>
    </body>
</html>