*
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

header,footer,section,footer
{
	margin: 0.3em;
	border: 1px dotted darkslategray;
	border-radius: 0.3em;
}

header,footer,section,footer
{
	padding: 0.3em;
}

header
{
	text-align: center;
}

header,footer
{
	background-color: lavender;
}

main
{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
}

aside 
{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
}

.toggleTrigger:hover
{
	cursor: pointer;
}

.active
{
	flex: 5;
}

footer
{
	display: flex;
	justify-content: space-between;
}

ul.nav
{
	list-style-type:none;
	padding: 0;
	margin: 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

a.current{
	background-color: steelblue !important;
}

a.current:hover{
	background-color: steelblue !important;
}

ul.nav>li>a
{
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
	background-color: darkcyan;
	border: 1px dotted white;
	padding: 8px;
	font-weight: bold;
	transition-duration: 0.5s;
}

ul.nav>li>a:hover{
	background-color: cadetblue;
	transition-duration: 0.5s;
}


h1
{
	font-size: 1.5em;
}

h2
{
	font-size: 1.2em;
}

.inactive
{
	visibility: collapse;
	display: none;
}

.logo
{
	width: auto;
	height: 4em;
}


#hamburger
{
	height: 3em;
	width: 3em;
	padding: 0.4em;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	margin-left: auto;
}
.barre
{
	height: 4px;
	width: 2.6em;
	background-color: black;
	border-radius: 4px;
	transition-duration: 0.5s;
	color: white;
}

.trigger>.barre#painDuHaut
{
	transform: translateY(1em) rotate(45deg);
}
.trigger>.barre#steak
{
	background-color: white;
}
.trigger>.barre#painDuBas
{
	transform: translateY(-1em) rotate(-45deg);
}